<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Style/main.css') }}" rel="stylesheet" />
    <title>Score Predict | Điểm trung bình 12</title>
    <script src="{{ url_for('static', filename='Action/script.js') }}"></script>
    <!-- <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        // Kết nối tới server WebSocket
        const socket = io();

        // Lắng nghe sự kiện "update_data" từ server
        socket.on('update_data', (data) => {
            // Cập nhật giao diện với dữ liệu mới
            document.getElementById('total_submit').textContent = data.total_submit;
            document.getElementById('today_submit').textContent = data.today_submit;
        });
    </script> -->
    <script>
        // Khi trang tải, gọi hàm lấy dữ liệu
        window.onload = function() {
            fetchSubmitDataFromBackend();
        }
    </script>
</head>
<body>
    <div class="container"> 
        <div class="header">
            <div class="left_header">
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
                <div class="footer">    
                    <div class="footer-text1">UIT</div>
                    <div class="footer-text2">Dự đoán điểm trung bình lớp 12</div>
                </div>
            </div>
            <div class="right_header">
                <img class="logo" src="{{ url_for('static', filename='images/logo_12.png') }}">
            </div>
        </div>
        <div class="sub-header"></div>
        <div class="main-content">
            <div class="button-header">
                <button class="btn-hoc12" onclick="goBack()">
                    <div class="btn-content">
                        <div class="btn-icon"></div>
                        <span class="btn-text">Điểm trung bình 12</span>
                    </div>
                </button>
                <button class="btn-hoc11" onclick="redirectToPage2()">
                    <div class="btn-content">
                        <div class="btn-icon"></div>
                        <span class="btn-text">Điểm thi Tốt Nghiệp</span>
                    </div>
                </button>
            </div>
            <div class="submit_count">
                <p>Tổng số lần submit: <span id="total-submit">0</span></p>
                <p>Số lần submit hôm nay: <span id="today-submit">0</span></p>
            </div>
            <div class="header-content">Phân tích dữ liệu</div>
            <div class="data_chart">
                <div>
                    <div class="semester">Độ chính xác model LR</div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/LR_accuracy.png') }}" alt="Chart">
                    <select id="imageDropdown1" onchange="showImage(1)">
                        <option value="">-- Xem thêm --</option>
                        <option value="{{ url_for('static', filename='images/LR_Maths_1_12_spectrum.png') }}">Phổ điểm Toán HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Literature_1_12_spectrum.png') }}">Phổ điểm Văn HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Physics_1_12_spectrum.png') }}">Phổ điểm Lý HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Chemistry_1_12_spectrum.png') }}">Phổ điểm Hóa HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Biology_1_12_spectrum.png') }}">Phổ điểm Sinh HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_History_1_12_spectrum.png') }}">Phổ điểm Sử HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Geography_1_12_spectrum.png') }}">Phổ điểm Địa HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_English_1_12_spectrum.png') }}">Phổ điểm Anh HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Civic Education_1_12_spectrum.png') }}">Phổ điểm GDCD HKI</option>
                        <option value="{{ url_for('static', filename='images/LR_Maths_2_12_spectrum.png') }}">Phổ điểm Toán HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_Literature_2_12_spectrum.png') }}">Phổ điểm Văn HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_Physics_2_12_spectrum.png') }}">Phổ điểm Lý HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_Chemistry_2_12_spectrum.png') }}">Phổ điểm Hóa HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_Biology_2_12_spectrum.png') }}">Phổ điểm Sinh HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_History_2_12_spectrum.png') }}">Phổ điểm Sử HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_Geography_2_12_spectrum.png') }}">Phổ điểm Địa HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_English_2_12_spectrum.png') }}">Phổ điểm Anh HKII</option>
                        <option value="{{ url_for('static', filename='images/LR_Civic Education_2_12_spectrum.png') }}">Phổ điểm GDCD HKII</option>
                    </select><div id="showImageDropdown1" style="margin-top: 20px;">
                        <img class="data_analysis_img" id="displayedImage1" src="" alt="Chart" style="display: none;">
                    </div>
                </div>
                <div>
                    <div class="semester">Độ chính xác model MLP</div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/MLP_accuracy.png') }}" alt="Chart">
                    <select id="imageDropdown2" onchange="showImage(2)">
                        <option value="">-- Xem thêm --</option>
                        <option value="{{ url_for('static', filename='images/MLP_Maths_1_12_spectrum.png') }}">Phổ điểm Toán HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Literature_1_12_spectrum.png') }}">Phổ điểm Văn HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Physics_1_12_spectrum.png') }}">Phổ điểm Lý HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Chemistry_1_12_spectrum.png') }}">Phổ điểm Hóa HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Biology_1_12_spectrum.png') }}">Phổ điểm Sinh HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_History_1_12_spectrum.png') }}">Phổ điểm Sử HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Geography_1_12_spectrum.png') }}">Phổ điểm Địa HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_English_1_12_spectrum.png') }}">Phổ điểm Anh HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Civic Education_1_12_spectrum.png') }}">Phổ điểm GDCD HKI</option>
                        <option value="{{ url_for('static', filename='images/MLP_Maths_2_12_spectrum.png') }}">Phổ điểm Toán HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_Literature_2_12_spectrum.png') }}">Phổ điểm Văn HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_Physics_2_12_spectrum.png') }}">Phổ điểm Lý HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_Chemistry_2_12_spectrum.png') }}">Phổ điểm Hóa HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_Biology_2_12_spectrum.png') }}">Phổ điểm Sinh HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_History_2_12_spectrum.png') }}">Phổ điểm Sử HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_Geography_2_12_spectrum.png') }}">Phổ điểm Địa HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_English_2_12_spectrum.png') }}">Phổ điểm Anh HKII</option>
                        <option value="{{ url_for('static', filename='images/MLP_Civic Education_2_12_spectrum.png') }}">Phổ điểm GDCD HKII</option>
                    </select>
                    <div id="showImageDropdown2" style="margin-top: 20px;">
                        <img class="data_analysis_img" id="displayedImage2" src="" alt="Chart" style="display: none;">
                    </div>
                </div>
                <div>
                    <div class="semester">Độ chính xác model LSTM</div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/LSTM_accuracy.png') }}" alt="Chart">
                    <select id="imageDropdown3" onchange="showImage(3)">
                        <option value="">-- Xem thêm --</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Maths_1_12_spectrum.png') }}">Phổ điểm Toán HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Literature_1_12_spectrum.png') }}">Phổ điểm Văn HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Physics_1_12_spectrum.png') }}">Phổ điểm Lý HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Chemistry_1_12_spectrum.png') }}">Phổ điểm Hóa HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Biology_1_12_spectrum.png') }}">Phổ điểm Sinh HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_History_1_12_spectrum.png') }}">Phổ điểm Sử HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Geography_1_12_spectrum.png') }}">Phổ điểm Địa HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_English_1_12_spectrum.png') }}">Phổ điểm Anh HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Civic Education_1_12_spectrum.png') }}">Phổ điểm GDCD HKI</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Maths_2_12_spectrum.png') }}">Phổ điểm Toán HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Literature_2_12_spectrum.png') }}">Phổ điểm Văn HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Physics_2_12_spectrum.png') }}">Phổ điểm Lý HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Chemistry_2_12_spectrum.png') }}">Phổ điểm Hóa HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Biology_2_12_spectrum.png') }}">Phổ điểm Sinh HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_History_2_12_spectrum.png') }}">Phổ điểm Sử HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Geography_2_12_spectrum.png') }}">Phổ điểm Địa HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_English_2_12_spectrum.png') }}">Phổ điểm Anh HKII</option>
                        <option value="{{ url_for('static', filename='images/LSTM_Civic Education_2_12_spectrum.png') }}">Phổ điểm GDCD HKII</option>
                    </select>
                    <div id="showImageDropdown3" style="margin-top: 20px;">
                        <img class="data_analysis_img" id="displayedImage3" src="" alt="Chart" style="display: none;">
                    </div>
                </div>
                <div>
                    <div class="semester">So sánh độ chính xác của 3 model</div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_accuracy_comparison.png') }}" alt="Chart">
                </div>
                <div>
                    <div class="semester">Phân bố dữ liệu đầu vào theo xếp loại</div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_evaluate_distribution.png') }}" alt="Chart">
                </div>
                <div>
                    <div class="semester">Phân bố dữ liệu đầu vào theo điểm trung bình</div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_score_distribution.png') }}" alt="Chart">
                </div>
                <div>
                    <div class="tooltip">
                        (*)
                        <span class="tooltiptext">-Ma trận tương quan thể hiện mức độ liên hệ giữa dữ liệu.<br>-Càng gần 1 cho thấy 2 biến đầu vào ảnh hưởng đến nhau càng nhiều.<br>-Chỉ số tương quan âm cho thấy 2 biến đầu vào không có mối liên hệ.</span>
                        <span class="semester">Ma trận tương quan</span>
                    </div>
                    <br>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_correlations.png') }}" alt="Chart">
                </div>
                <div>
                    <div class="tooltip">
                        (*)
                        <span class="tooltiptext">-Mỗi điểm thể hiện cho 1 học sinh.<br>-Càng gần trục cho thấy dữ liệu đầu vào và ra càng giống nhau.<br>-Càng xa trục cho thấy dữ liệu đầu vào và ra càng khác nhau.</span>
                        <span class="semester">Mối quan hệ giữa dữ liệu đầu vào và đầu ra</span>
                    </div>
                    <select id="imageDropdown4" onchange="showImage(4)">
                        <option value="{{ url_for('static', filename='images/10_11_12_Maths_relationship_input_output.png') }}">Điểm Toán</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_Literature_relationship_input_output.png') }}">Điểm Văn</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_Physics_relationship_input_output.png') }}">Điểm Lý</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_Chemistry_relationship_input_output.png') }}">Điểm Hóa</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_Biology_relationship_input_output.png') }}">Điểm Sinh</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_History_relationship_input_output.png') }}">Điểm Sử</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_Geography_relationship_input_output.png') }}">Điểm Địa</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_English_relationship_input_output.png') }}">Điểm Anh</option>
                        <option value="{{ url_for('static', filename='images/10_11_12_Civic Education_relationship_input_output.png') }}">Điểm GDCD</option>
                    </select>
                    <div id="showImageDropdown4" style="margin-top: 20px;">
                        <img class="data_analysis_img" id="displayedImage4" src="{{ url_for('static', filename='images/10_11_12_Maths_relationship_input_output.png') }}" alt="Chart">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn-back" onclick="goBack()">
                <div class="btn-view-content"></div>
                <span class="btn-view-text">Trở về</span>
            </button>
        </div>
    </div>
</body>
</html>
